body{
    margin: 0;
}
header{
    background-color: #e5eef5;
}
.container{width: 1150px;margin: auto;display: flex;padding: 20px;align-items: center;}
.logo{
    flex-basis: 20%;
    max-width: 20%;
}
.logo img{}
nav{
    flex-basis: 80%;
    max-width: 80%;
}
nav ul{
    margin: 0;
    display: flex;
    padding: 0;
    justify-content: flex-end;
}
nav ul li{
    font-size: 19px;
    padding: 10px;
    list-style: none;
}
nav ul li a{
    color: black;
    font-size: 22px;
    text-decoration: none;
    text-transform: capitalize;
    padding: 0px;
    display: block;
}
section{
    padding-top: 300px;
    padding-bottom: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-y: top;
}
.section_one{
    background-image: url(../images/HSC_F15_Womens_03.jpg);
    ;
}
.section_two{
    background-image: url(../images/IMG_7222.jpg);
}
.section_three{
    background-image: url(../images/81aUa3LrDzL._UL1500_.jpg);
}
.section_four{
    background-image: url(../images/xcYvQiqWJA3Xj48CXJoSzn.jpg);
}
.section_five{
    background-image: url(../images/jet-grocery-delivery.jpg);
}
h1{
    font-size: 58px;
    color: #ff214f;
    background-color: #2d1e1e00;
    max-width: 515px;
    margin: auto;
    padding: 20px;
    text-align: center;
    text-transform: capitalize;
}